@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  font-family: "poppins";
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
}
body {
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
.pagination-div2 {
  justify-self: center;
  grid-area: page;
  position: relative;
  background-color: transparent;
  height: min-content;
  width: 100vh;
  top:-65%;
  display: flex;
  justify-content: center;
}
.pagination-div2 a {
  padding: 8px 10px;
  align-items: center;
  background: #b77a24;
  text-decoration: none;
  margin-left: 5%;
  color: white;
}
.pagination-div2 a.active {
  background-color: rgb(200, 199, 199);
}
.pagination-div2 a:hover {
  background-color: rgb(200, 199, 199);
}

.pagination-div2cart {
  justify-self: center;
  position: relative;
  background-color: transparent;
  height: min-content;
  width: 100vh;
  top:5%;
  display: flex;
  justify-content: center;
}
.pagination-div2cart a {
  padding: 8px 10px;
  align-items: center;
  background: #b77a24;
  text-decoration: none;
  margin-left: 5%;
  color: white;
}
.pagination-div2cart a.active {
  background-color: rgb(200, 199, 199);
}
.pagination-div2cart a:hover {
  background-color: rgb(200, 199, 199);
}
/*container  - start */
.main-container {
  top: 0;
  left: 0;
  background-color: rgba(53, 53, 53, 0.188);
  height: 100vh;
  width: 100vw;
  z-index: 0;
  overflow-x: hidden;
}
/*container  - end */

/*navigation bar - start */
.topnav {
  z-index: 1;
  position: fixed;
  left: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: hsla(0, 0%, 0%);
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: right;
}
.topnav a:nth-child(1) {
  left: 0;
  position: Absolute;
  transform: translate(0, 0);
}
.topnav a:nth-child(1):hover {
  background-color: transparent;
  color: white;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 2vh;
  transform: translate(-10vw, 0);
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #b77a24;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    transform: translate(0, 0);
  }
  .topnav a {
    font-size: 17px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: fixed;
  }
  .topnav {
    display: block;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    transform: translate(0, 0);
  }
}
/*navigation bar - end */

/*main  - start */
main {
  display:flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  grid-area: main;
  left: 0;
  top: 0;
  height: 80%;
  width: 100%;
}
main img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
/*main  - end */

/*sidebar  - start */
#sidebar {
  position:relative;
  top:-40%;
  margin-left: -11vw;
  grid-area: sidebar;
  overflow: hidden;
  height:max-content;
  width: 15vw;
  background: #b77a24;
  transition: 0.2s ease-in-out;
}
#sidebar button:nth-child(1) span {
  background-repeat: no-repeat;
  background-size: 30% 100%;
  background-position: right;
  background-image: url("../img/Website/1.png");
  transition: 0.5s ease-in-out;
}

#sidebar button:nth-child(2) span {
  background-repeat: no-repeat;
  background-size: 30% 80%;
  background-position: right;
  background-image: url("../img/Website/2.png");

  transition: 0.5s ease-in-out;
}
#sidebar button:nth-child(3) span {
  background-repeat: no-repeat;
  background-size: 30% 70%;
  background-position: right;
  background-image: url("../img/Website/4.png");

  transition: 0.5s ease-in-out;
}
#sidebar button:nth-child(4) span {
  background-repeat: no-repeat;
  background-size: 30% 100%;
  background-position: right;
  background-image: url("../img/Website/pizzaclip.png");

  transition: 0.5s ease-in-out;
}
#sidebar button:nth-child(1):hover span,
#sidebar button:nth-child(2):hover span,
#sidebar button:nth-child(3):hover span,
#sidebar button:nth-child(4):hover span {
  background-color: #00000061;
  transition: 0.5s ease-in-out;
}
#sidebar button {
  width: 100%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
#sidebar button span {
  display: block;
  text-align: left;
  padding: 20px 20px;
  height: 10vh;
  color: white;
  transform: translate(0, 0%);
  margin-top: 2%;
  font: 500 1.5vw "poppins";
  box-sizing: border-box;
  border-bottom: 2px solid white;

  cursor: pointer;
}
#sidebar:hover {
  margin-left: -5%;
  transition:0.2s ease-in-out;
}
#sidebar2 {
  display: none;
}
/*sidebar  - end */

/*content1  - start */
#content1 {
  grid-area: content1;
  background: yellow;
}
/*content1  - end */

/*content2  - start */
#content2 {
  grid-area: content2;
  background: blue;
}
/*content2  - end */

/*content3  - start */
#content3 {
  grid-area: content3;
  background: green;
}
/*content3  - end */

/*footer  - start DESKTOP*/
.footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*footer  - end */

.container {
  display:flex;
  justify-content: center;
  position: relative;
  top: -40%;
  margin-left:-13%;
  background-color: transparent;
  min-width:70vw;
  grid-area: content;
  overflow: hidden;
  padding:15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  table{
    
    max-width: 540px;
  }

  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  table{
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  table{
    
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  table{
    max-width: 1140px;
  }
}
.container-fluid-own {
  height:min-content;
  background-color: transparent;
  position:relative;
  padding-top:10%;
  padding-bottom:10%;
  margin-top:0%;
  width:max-content;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns:max-content;
  grid-template-rows: 5fr 1fr;
  grid-template-areas: 
  "table"
  ;
}
.container-fluid {
  position:relative;
  margin-top:37%;
  background-color: transparent;
  min-width:100%;
  height:min-content;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "main main main main "
    "sidebar content content content"
    "sidebar content content content "
    "page page page page ";
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items:center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.card {
  margin-top: 15%;
  width: 190px;
  height: 254px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
  background-color: #ffcaa6;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.prod_img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.card-info {
  padding-top: 10%;
}

svg {
  padding-top: 10%;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  margin-top: -10%;
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  margin-top: -5%;
  font-size: 0.9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

.quantity_value {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  width: 20%;
}
.up,
.down {
  background: #b77a24;
  padding: 2% 5%;
  color: white;
  cursor: pointer;
}
/*TABLE CART PAGE START*/
table {
  grid-area:table;
  display:flex;
  justify-self: center;
  border-collapse: collapse;
  background-color: transparent;
  border: 2px solid black;
  position: relative;
  height:max-content;
  width:max-content;
  max-width:90%;
  top:0%;
  box-sizing: border-box;
}
.trtop {
  height: 0;
  width: 100%;
  margin: 0;
  padding: 0 5% 0% 5%;
  background-color: black;
  box-sizing: border-box;
}
.trtop th {
  color: White;
  font: 500 1em "poppins";
}
table tr td {
  border-bottom: 2px solid black;
}
table tr td {
  height: 10%;
  width: 10%;
  background: transparent;
  text-align: center;
}
/*TABLE CART PAGE END*/

/*PRODUCT*/
.prod-img {
  width: 50%;
  height: 100%;
  object-fit: contain;
}
.update-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.update-div button {
  outline: none;
  border: none;
  width: 80%;
  height: 5vh;
  color: White;

  cursor: pointer;
  background-color: #b77a24;
}
.delete-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.delete-div button {
  outline: none;
  border: none;
  width: 80%;
  height: 5vh;
  color: White;

  cursor: pointer;
  background-color: #252525;
}
/**/

section {
  position: absolute;
  left: 0;
  margin-bottom: 0;
  width: 100%;
  background: black;
  padding-top: 60px;
  overflow-x: hidden;
}

footer {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 0 30px;
}

@media (width < 620px) {
  footer {
    flex-direction: column;
  }

  footer.bottom {
    gap: 16px;
    flex-direction: column-reverse;
  }
}

footer > img {
  margin-top: 10px;
}

@media (width >= 620px) {
  footer {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
  }
}

footer {
  color: #a2b5cd;
}

footer.top {
  border-bottom: 2px solid #3a4f6a;
  padding-bottom: 20px;
}

footer.bottom {
  padding: 20px 0;
  justify-content: space-between;
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.links > div {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

footer h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #f7f7f7;
}

.legal {
  font-size: 12px;
}

.legal > a {
  margin: 0 4px;
}

.legal > span {
  margin-right: 10px;
}

footer.bottom .links {
  display: flex;
  gap: 18px;
}

footer.bottom .links > a {
  font-size: 24px;
}

@media (width < 420px) {
 
  table {
    grid-area:table;
    display:flex;
    justify-self: left;
    position: relative;
    top:0%;
    box-sizing: border-box;
    font-size: 0.5em;
    height:max-content;
    max-width:35%;
    left: -1%;
    top: 20%;
  }
  .update-div button,
  .delete-div button,
  table tr td,
  .quantity_value {
    font-size: 1em;
  }

  table tr td:nth-child(1) {
    font-size: 1.2em;
  }
  .container-fluid-own{  
    height:min-content;
    background-color: transparent;
    position:relative;
    padding-top:10%;
    padding-bottom:10%;
    margin-top:0%;
    width:max-content;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns:max-content;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: 
    "table"
    ;
  }
  .container-fluid {
    margin-top:140%;
    background-color: transparent;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 10fr 1fr;
    grid-template-areas:
      "main"
      "sidebar"
      "content"
      "page ";
  }
  main {
    grid-area: main;
    left: 0;
  }
  #sidebar {
    display: none;
  }
  #sidebar2 {
    justify-self: center;
    height: min-content;
    left:-4%;
    width:100%;
    overflow: hidden;
    grid-area: sidebar;
    position: relative;
    top: -100%;
    display: flex;
    justify-content: center;
    background-color: #252525;
  }
  #sidebar2 button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  #sidebar2 button span {
    color: white;
    font: 500 4vw "poppins";
    box-sizing: border-box;
    cursor: pointer;
  }

  html {
    overflow-x: hidden;
  }

  .container {
    justify-self: center;
    display:flex;
    justify-content: center;
    max-height:max-content;
    padding-top:5px;
    padding-bottom:5px;
    width:100%;
    grid-area: content;
    overflow:hidden;
    position: relative;
    top:-18%;
    left:2.5%;
    background-color: transparent;
    box-sizing: border-box;
  }
  .pagination-div2 {
    grid-area: page;
    justify-self: center;
    position: relative;
    width: 100%;
    top: -100%;
    margin-left:-15%;
  }
  .pagination-div2cart {
    grid-area: page;
    justify-self: center;
    position: relative;
    height:1000%;
    width: 100%;
  }

  footer {
    text-align: center;
    align-items: center;
  }

  footer.top .links {
    grid-template-columns: 1fr;
  }

  footer.bottom {
    align-items: center;
  }

  .legal > span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
}
